.section7 {
  background-color: #1a1a1a;
  .container {
    // margin: 0;
    .row {
      .main {
        width: 100%;
        padding-top: 120px;
        padding-bottom: 120px;

        .textButton {
          margin-bottom: 40px;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          .cardTitle {
            width: 100%;
            max-width: 410px;
            font-family: "SF Pro Display";
            font-style: normal;
            font-weight: 510;
            font-size: 40px;
            line-height: 110%;
            color: #ffffff;
          }
          .next {
            background-color: transparent;
            border: none;
            cursor: pointer;
            svg {
              // margin-bottom: 40px;
              fill: #ffbd39;
            }
          }
          .prev {
            background-color: transparent;
            border: none;
            margin-right: 28px;
            cursor: pointer;

            svg {
              fill: #ffbd39;
            }
          }
          .text {
            margin-top: 40px;
            margin-bottom: 40px;
            max-width: 600px;
            font-family: "SF Pro Display";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 130%;
            color: #b7b7b7;
          }
        }
        .slider7 {
          width: 100%;
          position: relative;
          .swiper {
            height: 380px;
            .swiper-slide {
              padding: 0;
              margin: 0;
              width: 380px;
              padding: 30px;
              background-color: #212121;
              text-align: start;
              .slideTitle {
                font-family: "SF Pro Display";
                font-style: normal;
                font-weight: 590;
                font-size: 24px;
                line-height: 100%;
                color: #ffffff;
                margin-bottom: 10px;
              }
              .slideText {
                font-family: "SF Pro Display";
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 140%;
                color: #b7b7b7;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 740px) and (max-width: 1199px) {
  .section7 {
    background-color: #1a1a1a;
    .container {
      .row {
        .main {
          width: 100%;
          padding-top: 80px;
          padding-bottom: 80px;

          .textButton {
            .cardTitle {
              width: 100%;
              max-width: 380px;
            }
          }
          .slider7 {
            position: relative;
            max-width: 770px;
            .swiper {
              height: 350px;

              .swiper-wrapper {
                .swiper-slide {
                  width: 350px !important;
                  padding: 30px;
                  background-color: #212121;
                  text-align: start;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 739px) {
  .section7 {
    background-color: #1a1a1a;
    .container {
      .row {
        .main {
          width: 100%;
          padding-top: 60px;
          padding-bottom: 60px;

          .textButton {
            display: grid;
            margin-bottom: 0px;
            .buttons {
              margin-top: 20px;
              text-align: end;
              .next {
                background-color: transparent;
                border: none;
                cursor: pointer;
                svg {
                  fill: #ffbd39;
                  margin-bottom: 20px;
                }
              }
              .prev {
                background-color: transparent;
                border: none;
                margin-right: 28px;
                cursor: pointer;

                svg {
                  margin-bottom: 20px;
                  fill: #ffbd39;
                }
              }
            }
            .cardTitle {
              width: 100%;
              max-width: 350px;
              font-family: "SF Pro";
              font-style: normal;
              font-weight: 510;
              font-size: 30px;
              line-height: 110%;
              color: #ffffff;
            }
          }
          .slider7 {
            position: relative;
            max-width: 360px;
            .swiper {
              height: 330px;

              .swiper-wrapper {
                .swiper-slide {
                  width: 330px;
                  padding: 30px;
                  background-color: #212121;
                  text-align: start;
                }
              }
            }
          }
        }
      }
    }
  }
}
