.navbar {
  background-color: #212121;
  .container {
    .row {
      .nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;
        border-bottom: 1px solid #303030;
        .menuLinks {
          display: grid;
          grid-template-columns: auto auto auto;
          justify-content: space-between;
          align-items: center;
          .logo {
            margin-right: 80px;
          }
          .menu {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            column-gap: 40px;

            li {
              list-style: none;
              a {
                font-family: "SF Pro Display";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #ffffff;
                text-decoration: none;
              }
            }
          }
        }
        .profil {
          a {
            text-decoration: none;
            font-family: "SF Pro Display";
            font-family: "SF Pro";
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            text-decoration-line: underline;
            color: #ffbd39;
          }
        }
      }
    }
  }
}

// media

@media only screen and (min-width: 740px) and (max-width: 1199px) {
  .navbar {
    .container {
      .row {
        .nav {
          .menuLinks {
            .logo {
              margin-right: 20px;
            }
            .menu {
              display: grid;
              grid-template-columns: auto auto auto auto auto;
              column-gap: 20px;
            }
          }
        }
      }
    }
  }
}
