.accordion {
  background-color: transparent;
  width: 100%;
  max-width: 100%;
  border-top: 1px solid #444444;
  .accordion__title {
    .brandColor {
      font-family: "SF Pro Display";
      font-style: normal;
      font-weight: 510;
      font-size: 20px;
      line-height: 24px;
      color: #ffbd39;
    }
    .noBrandColor {
      font-family: "SF Pro Display";
      font-style: normal;
      font-weight: 510;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
    }
  }
  .border {
    border-bottom: 1px solid #444444;
  }

  &__title {
    padding: 30px 0;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .accordion__icon {
    svg {
      path {
        transition: 0.3s ease-in-out;
      }
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: 0.7s ease-in-out;
    background-color: transparent;
    display: grid;
    grid-template-columns: 380px 380px;
    column-gap: 30px;
    .acLeft {
      width: 380px;
      .textTop {
        width: 100%;
        max-width: 380px;
        font-family: "SF Pro Display";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #b7b7b7;
        margin-bottom: 20px;
      }
      .textBottom {
        width: 100%;
        max-width: 380px;
        font-family: "SF Pro Display";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #b7b7b7;
      }
    }
    .acRight {
      width: 380px;
      margin-bottom: 30px;
      ul {
        margin-left: 15px;
        li {
          font-family: "SF Pro Display";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 190%;
          color: #b7b7b7;
        }
      }
    }
  }

  &.active &__content {
    max-height: 50em;
  }
  &.show &__content {
    max-height: 50em;
  }
}

@media only screen and (min-width: 360px) and (max-width: 739px) {
  .accordion {
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    border-top: 1px solid #444444;
    .accordion__title {
      .brandColor {
        width: 100%;
        max-width: 316px;
        font-family: "SF Pro Display";
        font-style: normal;
        font-weight: 510;
        font-size: 20px;
        line-height: 24px;

        color: #ffbd39;
      }
      .noBrandColor {
        width: 100%;
        max-width: 316px;
        font-family: "SF Pro Display";
        font-style: normal;
        font-weight: 510;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
      }
    }
    .border {
      border-bottom: 1px solid #444444;
    }

    &__title {
      padding: 30px 0;
      cursor: pointer;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .accordion__icon {
      svg {
        path {
          transition: 0.3s ease-in-out;
        }
      }
    }

    &__content {
      max-height: 0;
      overflow: hidden;
      transition: 0.7s ease-in-out;
      background-color: transparent;
      display: grid;
      grid-template-columns: 380px;
      row-gap: 30px;
      column-gap: 30px;
      .acLeft {
        width: 360px;
        .textTop {
          width: 100%;
          max-width: 360px;
          font-family: "SF Pro Display";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          color: #b7b7b7;
          margin-bottom: 20px;
        }
        .textBottom {
          width: 100%;
          max-width: 360px;
          font-family: "SF Pro Display";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          color: #b7b7b7;
        }
      }
      .acRight {
        width: 360px;
        margin-bottom: 30px;
        ul {
          margin-left: 15px;
          li {
            font-family: "SF Pro Display";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 190%;
            color: #b7b7b7;
          }
        }
      }
    }

    &.active &__content {
      max-height: 50em;
    }
    &.show &__content {
      max-height: 50em;
    }
  }
}
