@import "./accardion.scss";
.section6 {
  background-color: #212121;
  .container {
    // margin: 0;
    .row {
      .main {
        width: 100%;
        padding-top: 120px;
        padding-bottom: 120px;
        .title {
          padding-bottom: 40px;
          .cardTitle {
            max-width: 525px;
            font-family: "SF Pro Display";
            font-style: normal;
            font-weight: 510;
            font-size: 40px;
            line-height: 110%;
            color: #ffffff;
          }
        }
        .content {
          display: flex;
          justify-content: space-between;

          .left {
            width: 790px;
          }
          .rightBox {
            border-top: 3px solid #444444;
            width: 100%;
            max-width: 380px;
            height: 556px;
            background-color: #272727;
            .container {
              padding: 30px;
              .titleBox {
                .titleText {
                  width: 100%;
                  max-width: 320px;
                  font-family: "SF Pro Display";
                  font-style: normal;
                  font-weight: 510;
                  font-size: 20px;
                  line-height: 130%;
                  color: #ffffff;
                }
              }
              .contentBox {
                ul {
                  padding: 20px 0 30px 0;
                  margin-left: 30px;
                  li {
                    font-family: "SF Pro Display";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 190%;
                    color: #b7b7b7;
                  }
                }
                .registration {
                  font-family: "SF Pro Display";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 21px;
                  text-decoration-line: underline;
                  color: #ffbd39;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 740px) and (max-width: 1199px) {
  .section6 {
    .container {
      .row {
        .main {
          width: 100%;
          padding-top: 80px;
          padding-bottom: 80px;
          .title {
            padding-bottom: 40px;
            .cardTitle {
              width: 100%;
              max-width: 450px;
              font-family: "SF Pro Display";
              font-style: normal;
              font-weight: 510;
              font-size: 40px;
              line-height: 110%;
              color: #ffffff;
            }
          }
          .content {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            .left {
              width: 740px;
            }
            .rightBox {
              border-top: 3px solid #444444;
              width: 100%;
              max-width: 360px;
              height: 100%;
              margin-top: 30px;
              background-color: #272727;
              .container {
                padding: 30px;
                .titleBox {
                  .titleText {
                    width: 100%;
                    max-width: 320px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 739px) {
  .section6 {
    .container {
      .row {
        .main {
          width: 100%;
          padding-top: 60px;
          padding-bottom: 60px;
          .title {
            padding-bottom: 40px;
            .cardTitle {
              width: 100%;
              max-width: 350px;
              font-family: "SF Pro Display";
              font-style: normal;
              font-weight: 510;
              font-size: 30px;
              line-height: 110%;
              color: #ffffff;
            }
          }
          .content {
            display: grid;
            grid-template-columns: auto;
            justify-content: space-between;
            flex-direction: column;

            .left {
              width: 100%;
              max-width: 360px;
            }
            .rightBox {
              border-top: 3px solid #444444;
              width: 100%;
              max-width: 360px;
              height: auto;
              margin-top: 30px;
              background-color: #272727;
              .container {
                padding: 30px;
                .contentBox {
                  ul {
                    li {
                      font-size: 16px;
                    }
                  }
                  .registration {
                    font-size: 16px;
                  }
                }
                .titleBox {
                  .titleText {
                    width: 100%;
                    max-width: 300px;
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
