.footer {
  background-color: #1a1a1a;
  // height: 116px;
  .container {
    .row {
      .main {
        width: 100%;
        display: grid;
        grid-template-columns: 239px 315px;
        column-gap: 204px;
        align-items: center;
      }
      .left {
        p {
          padding: 40px 0;
          width: 100%;
          max-width: 239px;
          font-family: "SF Pro Display";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 110%;
          color: #b7b7b7;
        }
      }

      .rightBoxes {
        display: grid;
        grid-template-columns: 315px 199px;
        column-gap: 243px;
        .middle {
          display: flex;
          justify-content: space-between;
          width: 100%;
          max-width: 315px;
          li {
            list-style: none;
            a {
              font-family: "SF Pro Display";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 140%;
              text-align: center;
              color: #ffffff;
            }
            .liner {
              color: #444444;
              font-size: 18px;
              margin: 0 3px;
            }
            .nextA {
            }
          }
        }

        .right {
          span {
            font-family: "SF Pro Display";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #b7b7b7;
            margin-right: 5px;
          }
          a {
            font-family: "SF Pro Display";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            text-align: right;
            color: #ffffff;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 740px) and (max-width: 1199px) {
  .footer {
    background-color: #1a1a1a;
    height: 144px;
    .container {
      .row {
        .main {
          width: 100%;
          display: grid;
          grid-template-columns: 239px 315px;
          column-gap: 186px;
          align-items: center;
        }
        .left {
          p {
            padding: 40px 0;
            width: 100%;
            max-width: 239px;
            font-family: "SF Pro Display";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 110%;
            color: #b7b7b7;
          }
        }

        .rightBoxes {
          margin-top: 20px;
          display: grid;
          grid-template-columns: 315px;
          column-gap: 0;
          row-gap: 20px;
          .middle {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 315px;
            li {
              list-style: none;
              a {
                font-family: "SF Pro Display";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                text-align: center;
                color: #ffffff;
              }
              .liner {
                color: #444444;
                font-size: 18px;
                margin: 0 3px;
              }
              .nextA {
              }
            }
          }

          .right {
            // border: 1px solid red;
            display: flex;
            justify-content: flex-end;
            span {
              font-family: "SF Pro Display";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 140%;
              color: #b7b7b7;
              margin-right: 5px;
            }
            a {
              font-family: "SF Pro Display";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 140%;
              text-align: right;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 739px) {
  .footer {
    background-color: #1a1a1a;
    height: 144px;
    .container {
      .row {
        .main {
          width: 100%;
          display: grid;
          grid-template-columns: 239px 315px;
          column-gap: 186px;
          align-items: center;
        }
        .left {
          p {
            padding: 40px 0;
            width: 100%;
            max-width: 239px;
            font-family: "SF Pro Display";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 110%;
            color: #b7b7b7;
          }
        }

        .rightBoxes {
          margin-top: 20px;
          display: grid;
          grid-template-columns: 315px;
          column-gap: 0;
          row-gap: 20px;
          .middle {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 315px;
            li {
              list-style: none;
              a {
                font-family: "SF Pro Display";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                text-align: center;
                color: #ffffff;
              }
              .liner {
                color: #444444;
                font-size: 18px;
                margin: 0 3px;
              }
              .nextA {
              }
            }
          }

          .right {
            // border: 1px solid red;
            display: flex;
            justify-content: flex-end;
            span {
              font-family: "SF Pro Display";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 140%;
              color: #b7b7b7;
              margin-right: 5px;
            }
            a {
              font-family: "SF Pro Display";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 140%;
              text-align: right;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
