@import "./Components/Navbar/navbar.scss";
@import "./Components/Section1/section1.scss";
@import "./Components/Section2/section2.scss";
@import "./Components/Section3/section3.scss";
@import "./Components/Section4/section4.scss";
@import "./Components/Section5/section5.scss";
@import "./Components/Section6/section6.scss";
@import "./Components/Section7/section7.scss";
@import "./Components/Section8/section8.scss";
@import "./Components/Section9/section9.scss";
@import "./Components/Section10/section10.scss";
@import "./Components/Footer/footer.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0px 0px;
  margin: auto;
}

.row {
  display: flex;
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 100%;
    max-width: 740px;
    padding: 0px 0px;
    margin: auto;
  }
}

@media only screen and (min-width: 360px) and (max-width: 739px) {
  .container {
    width: 100%;
    max-width: 360px;
    padding: 0px 0px;
    margin: auto;
  }
}
