.section3 {
  background-color: #212121;
  .container {
    .row {
      .main {
        width: 100%;
        .cardTitle {
          max-width: 410px;
          margin-top: 120px;
          margin-bottom: 40px;
          font-family: "SF Pro Display";
          font-style: normal;
          font-weight: 510;
          font-size: 40px;
          line-height: 110%;
          color: #ffffff;
        }
        .cards {
          display: flex;
          justify-content: space-between;
          margin-bottom: 120px;
          .cardBox {
            border-top: 1px solid #444444;
            max-width: 380px;
            padding-top: 20px;
            .title {
              font-family: "SF Pro Display";
              font-style: normal;
              font-weight: 510;
              font-size: 20px;
              line-height: 24px;
              display: flex;
              align-items: flex-end;
              color: #ffffff;
              margin-bottom: 10px;
            }
            .text {
              font-family: "SF Pro Display";
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 140%;
              color: #b7b7b7;
            }
          }
        }
      }
    }
  }
}
